<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Rechargio - Recharge & Bill Payment, Booking HTML5 Template</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="assets/img/logo/favicon.png">
   <!--nice select css-->
   <link rel="stylesheet" href="assets/css/nice-select.css">
   <!--datepicker css-->
   <link rel="stylesheet" href="assets/css/datepickerboot.css">
   <!--main css-->
   <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

<!-- Preloader Start Here -->
<div class="preloader__wrap">
   <div class="preloader__box">
      <div class="circle">
         <img src="assets/img/preloader/preloader.png" alt="preloader">
      </div>
      <div class="recharge">
         <img src="assets/img/preloader/rechage.png" alt="rechage">
      </div>
      <span class="pretext">
         Rechargio
      </span>
   </div>
</div>
<!-- Preloader End Here -->



<!-- Header top Here -->
<section class="hotel__booksection train__booksection">
   <header class="header-section">
      <div class="container">
         <div class="header-wrapper">
            <div class="logo-menu">
               <a href="index.html" class="logo">
                  <img src="assets/img/logo/logo.png" alt="logo">
               </a>
               <a href="index.html" class="small__logo d-xl-none">
                  <img src="assets/img/logo/favicon.png" alt="logo">
               </a>
            </div>
            <div class="menu__right__components d-flex align-items-center">
               <div class="sigup__grp d-lg-none">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </div>
               <div class="header-bar d-lg-none">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
            </div>
            <ul class="main-menu">
               <li class="grid__style">
                  <a href="javascript:void(0)" >
                     <span>
                        <a href="train-book.html">Home </a>  
                       </span>
                   </a>
                  <ul class="">
                  </ul>
               </li>
               <li>
                  <a href="javascript:void(0)" class="d-flex">
                    <span>
                        Booking 
                    </span>
                     <span class="icons">
                        <i class="material-symbols-outlined">
                           expand_more
                        </i>
                     </span>
                  </a>
                  <ul class="sub-menu submenu__booking">
                     <li class="d">
                        <a href="javascript:void(0)">
                           <span class="fz-18 dtext d-block fw-700 lato">
                              Train
                           </span>
                        </a>
                        <a href="train-book.html">
                           Train Booking
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                  <a href="javascript:void(0)" class="d-flex">
                     <span>
                        Pages 
                     </span>
                      <span class="icons">
                         <i class="material-symbols-outlined">
                            expand_more
                         </i>
                      </span>
                   </a>
                  <ul class="sub-menu">
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              My Profile
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="personal-information.html">
                                Personal info
                              </a>
                           </li>
                           <li>
                              <a href="login-security.html">
                                 Login Security
                              </a>
                           </li>
                           <li>
                              <a href="favourites.html">
                                 Favourites
                              </a>
                           </li>
                           <li>
                              <a href="transaction.html">
                                 Transaction
                              </a>
                           </li>
                           <li>
                              <a href="password-change.html">
                                 Change Password
                              </a>
                           </li>
                           <li>
                              <a href="notification.html">
                                 Notification
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              Signup & Register
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="signup.html">
                                Signup Register
                              </a>
                           </li>
                           <li>
                              <a href="password.html">
                                 Password Change
                              </a>
                           </li>
                           <li>
                              <a href="number-toreach.html">
                                 Signup Number 
                              </a>
                           </li>
                           <li>
                              <a href="varified-number.html">
                                 Varified Number 
                              </a>
                           </li>
                           <li>
                              <a href="signin.html">
                                 Sign in 
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                
               <li>
               <li class="sigup__grp d-lg-none d-flex align-items-center">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </li>
            </ul>
            <div class="sigin__grp d-flex align-items-center">
               <a href="signin.html" class="cmn__btn outline__btn">
                  <span>
                     Signin
                  </span>
               </a>
               <a href="signup.html" class="cmn__btn">
                  <span>
                     Signup
                  </span>
               </a>
            </div>
         </div>
      </div>
   </header>
<!-- Header top End -->

<!-- breadcumnd banner Here -->
<section class="breadcumnd__banner">
   <!--Container-->
   <div class="container">
      <div class="breadcumnd__wrapper">
         <h2 class="bread__title">
            About us
         </h2>
         <ul class="breadcumnd__link">
            <li>
               <a href="index.html">
                  Home
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
               <a href="javascript:void(0)">
                  Pages
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
              About us
            </li>
         </ul>
      </div>
   </div>
   <!--Container-->
</section>
<!-- breadcumnd banner End -->

<!-- booksolving about here -->
<section class="booksolving__section pt-120 pb-120">
   <div class="container">
      <div class="row g-4 align-items-center">
         <div class="col-xl-6 col-lg-6 col-md-7">
            <div class="booksolving__content custome__about1">
               <div class="section__header mb__30 wow fadeInDown">
                  <h2>
                     We are Provide Recharge, Payment and Booking system
                  </h2>
                  <p>
                     There are many variations of passages of Lorem Ipsum available, but the  have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use...
                  </p>
               </div>
               <ul class="explore__list explore__list__about pb__40">
                  <li>
                     <span>
                        <img src="assets/img/banner/three/bb1.png" alt="img">
                     </span>
                     <span>
                        100% Secure
                     </span>
                  </li>
                  <li>
                     <span>
                        <img src="assets/img/banner/three/bb2.png" alt="img">
                     </span>
                     <span>
                        Trust pay
                     </span>
                  </li>
                  <li>
                     <span>
                        <img src="assets/img/banner/three/bb3.png" alt="img">
                     </span>
                     <span>
                        Refer & Earn
                     </span>
                  </li>
                  <li>
                     <span>
                        <img src="assets/img/banner/three/bb4.png" alt="img">
                     </span>
                     <span>
                        24X7 Support
                     </span>
                  </li>
               </ul>
               <a href="blog-details.html" class="cmn__btn">
                  <span>
                     Explore deals
                  </span>
               </a>
            </div>
         </div>
         <div class="col-xl-5 col-lg-5 col-md-5">
            <div class="booksolving__thumb">
               <img src="assets/img/booking/booksolving.png" alt="img">
            </div>
         </div>
      </div>
   </div>
</section>
<!-- booksolving about End -->

<!-- qustion here -->
<section class="question__section bgsection pt-120 pb-120">
   <div class="container">
      <div class="row flex-row-reverse  justify-content-between align-items-center">
         <div class="col-xl-6 col-lg-6">
            <div class="qustion__content relative">
               <div class="section__header pb__40 wow fadeInDown">
                  <h2>
                     If you got questions we have answer
                  </h2>
                  <p>
                     There are many variations of passages of Lorem Ipsum available, but the         have suffered alteration in some form, by injected humour, or randomised      words which don't look even slightly believable. If you are going to use...        have suffered alteration in some form, by injected humour, or randomised      words which don't look even slightly believable. If you are going to use...
                  </p>
               </div>
               <div class="accordion__wrap">
                  <div class="accordion" id="accordionExample">
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="0.9s">
                        <h2 class="accordion-header" id="headingOne">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is e recharge?
                           </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.2s">
                        <h2 class="accordion-header" id="headingTwo">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What is recharge credit?
                           </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.4s">
                        <h2 class="accordion-header" id="headingThree">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              How reliable is recharge com?
                           </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-5 col-lg-5 wow fadeInDown" data-wow-duration="0.9">
            <div class="qustion__thumb">
               <img src="assets/img/refer/qustion.png" alt="">
            </div>
         </div>
      </div>
   </div>
   <div class="qustion__shape">
      <img src="assets/img/refer/qustion-shape.png" alt="img">
   </div>
</section>
<!-- qustion End -->

<!--home three testimonial here-->
<section class="testimonial__section__thre pt-120 pb-120">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-7">
            <div class="section__header text-center pb__40">
               <h2>
                  Our Customers says
               </h2>
               <p class="max600">
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
               </p>
            </div>
         </div>
      </div>
      <div class="testimoial__wrap__three owl-theme owl-carousel">
         <div class="testimonial__item">
            <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
            </div>
            <p class="fz-18 fw-600">
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...
            </p>
            <div class="client">
               <div class="thumb">
                  <img src="assets/img/testimonial/jenlia.png" alt="img">
               </div>
               <div class="content">
                  <h6 class="name">
                     Jenelia d'suza
                  </h6>
                  <span class="desination">
                     Student
                  </span>
               </div>
            </div>
         </div>
         <div class="testimonial__item">
            <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
            </div>
            <p class="fz-18 fw-600">
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...
            </p>
            <div class="client">
               <div class="thumb">
                  <img src="assets/img/testimonial/alena.png" alt="img">
               </div>
               <div class="content">
                  <h6 class="name">
                     Alena Hecals
                  </h6>
                  <span class="desination">
                     Doctor
                  </span>
               </div>
            </div>
         </div>
         <div class="testimonial__item">
            <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
            </div>
            <p class="fz-18 fw-600">
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...
            </p>
            <div class="client">
               <div class="thumb">
                  <img src="assets/img/testimonial/brad.png" alt="img">
               </div>
               <div class="content">
                  <h6 class="name">
                     Brad Hogds
                  </h6>
                  <span class="desination">
                     Enginner
                  </span>
               </div>
            </div>
         </div>
         <div class="testimonial__item">
            <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
            </div>
            <p class="fz-18 fw-600">
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...
            </p>
            <div class="client">
               <div class="thumb">
                  <img src="assets/img/testimonial/jenlia.png" alt="img">
               </div>
               <div class="content">
                  <h6 class="name">
                     Jenelia d'suza
                  </h6>
                  <span class="desination">
                     Student
                  </span>
               </div>
            </div>
         </div>
         <div class="testimonial__item">
            <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
               <span>
                  <img src="assets/img/testimonial/star.png" alt="icon">
               </span>
            </div>
            <p class="fz-18 fw-600">
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...
            </p>
            <div class="client">
               <div class="thumb">
                  <img src="assets/img/testimonial/alena.png" alt="img">
               </div>
               <div class="content">
                  <h6 class="name">
                     Alena Hecals
                  </h6>
                  <span class="desination">
                     Doctor
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--home three testimonial end-->

<!--home two app end-->
<section class="app__section bgsection pt-120 pb-120">
   <div class="container">
      <div class="row justify-content-between align-items-center">
         <div class="col-xl-7 col-lg-7 wow fadeInDown" data-wow-duration="1.5s">
            <div class="app__content">
               <div class="section__header">
                  <h2>
                     The Fastest Way to Pay In-store & Online.
                  </h2>
                  <p class="apptext"> 
                     Download our app for the fastest, most convenient way to send Recharge.
                  </p>
                  <p class="pb__40">
                     There are many variations of passages of Lorem Ipsum available, but the         have suffered alteration in some form, by injected humour, or randomised      words which don't look even slightly believable. If you are going to use...
                  </p>
                  <div class="d-flex gap-3 align-items-center">
                     <a href="javascript:void(0)" class="storyitem">
                        <img src="assets/img/app/appplay.png" alt="img">
                     </a>
                     <a href="javascript:void(0)" class="storyitem">
                        <img src="assets/img/app/appstore.png" alt="img">
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-5 col-lg-5 wow fadeInUp" data-wow-duration="2.5s">
            <div class="app__thumb app__thumb__two">
               <img src="assets/img/app/apptwo.png" alt="img">
            </div>
         </div>
      </div>
   </div>
   <div class="app__woman">
      <img src="assets/img/app/appwoman.png" alt="img">
   </div>
</section>
<!--home two app end-->

<!--home two sponsor start-->
<section class="sponsor__section booking__sponsor pt__60 pb__60">
   <div class="container">
      <div class="logo__sponsor owl-theme owl-carousel">
         <div class="item">
            <img src="assets/img/sponsor/s1.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s2.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s3.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s4.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s5.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s6.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s7.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s2.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s3.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s4.png" alt="img">
         </div>
         <div class="item">
            <img src="assets/img/sponsor/s5.png" alt="img">
         </div>
      </div>
   </div>
</section>
<!--home two sponsor end-->

<!-- Footer Here -->
<footer class="footer__section bgsection pt-120">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__top pb-120">
            <div class="row gy-5 gx-5">
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <a href="index.html" class="footer__logo">
                           <img src="assets/img/logo/logo.png" alt="logo">
                        </a>
                     </div>
                     <p class="pratext mb__20 fz-18">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...
                     </p>
                     <ul class="social d-flex gap-3">
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="assets/img/svg/facebook.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="assets/img/svg/instagram.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="assets/img/svg/twitter.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="assets/img/svg/ball.svg" alt="svg">
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.5s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Quick Links
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="index.html" class="link fz-18 pratext">
                           Home
                        </a>
                        <a href="about.html" class="link fz-18 pratext">
                           About
                        </a>
                        <a href="index.html" class="link fz-18 pratext">
                          Rechage & Bill Payment
                        </a>
                        <a href="booking-landing1.html" class="link fz-18 pratext">
                           Booking
                        </a>
                        <a href="contact.html" class="link fz-18 pratext">
                           Contact
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.7s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Address
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                          <span class="d-block">
                           (480) 555-0103
                          </span>
                          <span>
                           (406) 555-0120
                          </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           <span class="d-block">
                              <span class="__cf_email__" data-cfemail="1773727679797639746265637e6457726f767a677b723974787a">[email&#160;protected]</span>
                           </span>
                           <span>
                              <span class="__cf_email__" data-cfemail="4e2a2b2c3c2f602621223a0e2b362f233e222b602d2123">[email&#160;protected]</span>
                           </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           285 Great North Road, Grey Lynn, Auckland 1021
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.9s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Newsletter
                        </h4>
                     </div>
                     <div class="widget__link">
                        <p class="fz-18 pratext mb__30">
                           Subscribe our newsletter to get our latest update & news
                        </p>
                       <form action="javacript:void(0)" class="d-flex justify-content-between">
                           <input type="email" placeholder="Your mail address">
                           <button type="submit" class="cmn__btn">
                             <span>
                                 <i class="material-symbols-outlined">
                                    rocket_launch
                                 </i>
                             </span>
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer__bottom d-flex">
            <p class="fz-18 pratext">
               Copyright &copy;2023 <a href="index.html" class="base">Rechargio.</a> All Rights Reserved
            </p>
            <ul class="footer__bottom__link">
               <li>
                  <a href="help-support.html">
                     Support
                  </a>
               </li>
               <li>
                  <a href="help-support.html">
                     Terms of Use
                  </a>
               </li>
               <li>
                  <a href="help.html">
                     Privacy Policy
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<!-- Footer End -->



   <!--Jquery 3 6 0 Min Js-->
   <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="assets/js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="assets/js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="assets/js/odometer.min.js"></script>
   <!--date picker Js-->
   <script src="assets/js/bootstrap-datepicker.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="assets/js/jquery.magnific-popup.min.js"></script>
   <!--nice select Js-->
   <script src="assets/js/jquery.nice-select.min.js"></script>
   <!--Wow min Js-->
   <script src="assets/js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="assets/js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="assets/js/prism.js"></script>
   <!--main Js-->
   <script src="assets/js/main.js"></script>
</body>

</html>