<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Rechargio - Recharge & Bill Payment, Booking HTML5 Template</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="assets/img/logo/favicon.png">
   <!--nice select css-->
   <link rel="stylesheet" href="assets/css/nice-select.css">
   <!--datepicker css-->
   <link rel="stylesheet" href="assets/css/datepickerboot.css">
   <!--main css-->
   <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

<!-- Preloader Start Here -->
<div class="preloader__wrap">
   <div class="preloader__box">
      <div class="circle">
         <img src="assets/img/preloader/preloader.png" alt="preloader">
      </div>
      <div class="recharge">
         <img src="assets/img/preloader/rechage.png" alt="rechage">
      </div>
      <span class="pretext">
         Rechargio
      </span>
   </div>
</div>
<!-- Preloader End Here -->



<!-- Header top Here -->
<section class="hotel__booksection train__booksection">
   <header class="header-section">
      <div class="container">
         <div class="header-wrapper">
            <div class="logo-menu">
               <a href="index.html" class="logo">
                  <img src="assets/img/logo/logo.png" alt="logo">
               </a>
               <a href="index.html" class="small__logo d-xl-none">
                  <img src="assets/img/logo/favicon.png" alt="logo">
               </a>
            </div>
            <div class="menu__right__components d-flex align-items-center">
               <div class="sigup__grp d-lg-none">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </div>
               <div class="header-bar d-lg-none">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
            </div>
            <ul class="main-menu">
               <li class="grid__style">
                  <a href="javascript:void(0)" >
                     <span>
                        <a href="train-book.html">Home </a>  
                       </span>
                   </a>
                  <ul class="">
                  </ul>
               </li>
               <li>
                  <a href="javascript:void(0)" class="d-flex">
                    <span>
                        Booking 
                    </span>
                     <span class="icons">
                        <i class="material-symbols-outlined">
                           expand_more
                        </i>
                     </span>
                  </a>
                  <ul class="sub-menu submenu__booking">
                     <li class="d">
                        <a href="javascript:void(0)">
                           <span class="fz-18 dtext d-block fw-700 lato">
                              Train
                           </span>
                        </a>
                        <a href="train-book.html">
                           Train Booking
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                  <a href="javascript:void(0)" class="d-flex">
                     <span>
                        Pages 
                     </span>
                      <span class="icons">
                         <i class="material-symbols-outlined">
                            expand_more
                         </i>
                      </span>
                   </a>
                  <ul class="sub-menu">
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              My Profile
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="personal-information.html">
                                Personal info
                              </a>
                           </li>
                           <li>
                              <a href="login-security.html">
                                 Login Security
                              </a>
                           </li>
                           <li>
                              <a href="favourites.html">
                                 Favourites
                              </a>
                           </li>
                           <li>
                              <a href="transaction.html">
                                 Transaction
                              </a>
                           </li>
                           <li>
                              <a href="password-change.html">
                                 Change Password
                              </a>
                           </li>
                           <li>
                              <a href="notification.html">
                                 Notification
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              Signup & Register
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="signup.html">
                                Signup Register
                              </a>
                           </li>
                           <li>
                              <a href="password.html">
                                 Password Change
                              </a>
                           </li>
                           <li>
                              <a href="number-toreach.html">
                                 Signup Number 
                              </a>
                           </li>
                           <li>
                              <a href="varified-number.html">
                                 Varified Number 
                              </a>
                           </li>
                           <li>
                              <a href="signin.html">
                                 Sign in 
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                
               <li>
               <li class="sigup__grp d-lg-none d-flex align-items-center">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </li>
            </ul>
            <div class="sigin__grp d-flex align-items-center">
               <a href="signin.html" class="cmn__btn outline__btn">
                  <span>
                     Signin
                  </span>
               </a>
               <a href="signup.html" class="cmn__btn">
                  <span>
                     Signup
                  </span>
               </a>
            </div>
         </div>
      </div>
</header>
<!-- Header top End -->

<!-- signUp here -->
<section class="signup__section bluar__shape">
   <div class="container">
      <div class="row align-items-center justify-content-between">
         <div class="col-xl-6 col-lg-6">
            <div class="signup__boxes">
               <h4>
                 Sign in to Rechargio
               </h4>
               <p class="head__pra mb__30">
                 Sign in to your account and make recharges. payments and bookings faster
               </p>
               <form action="#0" class="signup__form">
                  <div class="row g-4">
                     <div class="col-lg-12">
                        <div class="input__grp">
                           <label for="email">Enter Your Email ID</label>
                           <input type="email" id="email" placeholder="Your email ID here">
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div class="input__grp">
                           <label for="pass">Enter Your Password</label>
                           <input type="text" id="pass" placeholder="Your Password">
                        </div>
                     </div>
                     <a href="javascript:void(0)" class="forgot">
                        Forgot Password?
                     </a>
                     <div class="col-lg-12">
                        <div class="input__grp">
                          <button type="submit" class="cmn__btn">
                              <span>
                                 Sign In
                              </span>
                          </button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-xl-5 col-lg-6">
            <div class="signup__thumb">
               <img src="assets/img/signup/signup.png" alt="img">
            </div>
         </div>
      </div>
   </div>
</section>
<!-- signUp End -->

<!-- Footer Here -->
<footer class="footer__section bgsection pt-120">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__top pb-120">
            <div class="row gy-5 gx-5">
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <a href="index.html" class="footer__logo">
                           <img src="assets/img/logo/logo.png" alt="logo">
                        </a>
                     </div>
                     <p class="pratext mb__20 fz-18">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...
                     </p>
                     <ul class="social d-flex gap-3">
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="assets/img/svg/facebook.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="assets/img/svg/instagram.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="assets/img/svg/twitter.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="assets/img/svg/ball.svg" alt="svg">
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.5s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Quick Links
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="index.html" class="link fz-18 pratext">
                           Home
                        </a>
                        <a href="about.html" class="link fz-18 pratext">
                           About
                        </a>
                        <a href="index.html" class="link fz-18 pratext">
                          Rechage & Bill Payment
                        </a>
                        <a href="booking-landing1.html" class="link fz-18 pratext">
                           Booking
                        </a>
                        <a href="contact.html" class="link fz-18 pratext">
                           Contact
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.7s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Address
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                          <span class="d-block">
                           (480) 555-0103
                          </span>
                          <span>
                           (406) 555-0120
                          </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           <span class="d-block">
                              <span class="__cf_email__" data-cfemail="0a6e6f6b64646b24697f787e63794a6f726b677a666f24696567">[email&#160;protected]</span>
                           </span>
                           <span>
                              <span class="__cf_email__" data-cfemail="6e0a0b0c1c0f400601021a2e0b160f031e020b400d0103">[email&#160;protected]</span>
                           </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           285 Great North Road, Grey Lynn, Auckland 1021
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.9s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Newsletter
                        </h4>
                     </div>
                     <div class="widget__link">
                        <p class="fz-18 pratext mb__30">
                           Subscribe our newsletter to get our latest update & news
                        </p>
                       <form action="javacript:void(0)" class="d-flex justify-content-between">
                           <input type="email" placeholder="Your mail address">
                           <button type="submit" class="cmn__btn">
                             <span>
                                 <i class="material-symbols-outlined">
                                    rocket_launch
                                 </i>
                             </span>
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer__bottom d-flex">
            <p class="fz-18 pratext">
               Copyright &copy;2023 <a href="index.html" class="base">Rechargio.</a> All Rights Reserved
            </p>
            <ul class="footer__bottom__link">
               <li>
                  <a href="help-support.html">
                     Support
                  </a>
               </li>
               <li>
                  <a href="help-support.html">
                     Terms of Use
                  </a>
               </li>
               <li>
                  <a href="help.html">
                     Privacy Policy
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<!-- Footer End -->



   <!--Jquery 3 6 0 Min Js-->
   <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="assets/js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="assets/js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="assets/js/odometer.min.js"></script>
   <!--date picker Js-->
   <script src="assets/js/bootstrap-datepicker.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="assets/js/jquery.magnific-popup.min.js"></script>
   <!--nice select Js-->
   <script src="assets/js/jquery.nice-select.min.js"></script>
   <!--Wow min Js-->
   <script src="assets/js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="assets/js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="assets/js/prism.js"></script>
   <!--main Js-->
   <script src="assets/js/main.js"></script>
</body>

</html>