<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Rechargio - Recharge & Bill Payment, Booking HTML5 Template</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="/static/assets/img/logo/favicon.png">
   <!--nice select css-->
   <link rel="stylesheet" href="/static/assets/css/nice-select.css">
   <!--datepicker css-->
   <link rel="stylesheet" href="/static/assets/css/datepickerboot.css">
   <!--main css-->
   <link rel="stylesheet" href="/static/assets/css/main.css">
</head>

<body>

<!-- Preloader Start Here -->
<div class="preloader__wrap">
   <div class="preloader__box">
      <div class="circle">
         <img src="/static/assets/img/preloader/preloader.png" alt="preloader">
      </div>
      <div class="recharge">
         <img src="/static/assets/img/preloader/rechage.png" alt="rechage">
      </div>
      <span class="pretext">
         Rechargio
      </span>
   </div>
</div>
<!-- Preloader End Here -->



<!-- Header top Here -->
<section class="hotel__booksection train__booksection">
   <header class="header-section">
      <div class="container">
         <div class="header-wrapper">
            <div class="logo-menu">
               <a href="index.html" class="logo">
                  <img src="/static/assets/img/logo/logo.png" alt="logo">
               </a>
               <a href="index.html" class="small__logo d-xl-none">
                  <img src="/static/assets/img/logo/favicon.png" alt="logo">
               </a>
            </div>
            <div class="menu__right__components d-flex align-items-center">
               <div class="sigup__grp d-lg-none">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </div>
               <div class="header-bar d-lg-none">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
            </div>
            <ul class="main-menu">
               <li class="grid__style">
                  <a href="javascript:void(0)" >
                     <span>
                        <a href='/ '>Home </a>  
                       </span>
                   </a>
                  <ul class="">
                  </ul>
               </li>
               <li>
                  <a href="javascript:void(0)" class="d-flex">
                    <span>
                        Booking 
                    </span>
                     <span class="icons">
                        <i class="material-symbols-outlined">
                           expand_more
                        </i>
                     </span>
                  </a>
                  <ul class="sub-menu submenu__booking">
                     <li class="d">
                        <a href="javascript:void(0)">
                           <span class="fz-18 dtext d-block fw-700 lato">
                              Train
                           </span>
                        </a>
                        <a href='/ '>
                           Train Booking
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                  <a href="javascript:void(0)" class="d-flex">
                     <span>
                        Pages 
                     </span>
                      <span class="icons">
                         <i class="material-symbols-outlined">
                            expand_more
                         </i>
                      </span>
                   </a>
                  <ul class="sub-menu">
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              My Profile
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="personal-information.html">
                                Personal info
                              </a>
                           </li>
                           <li>
                              <a href="login-security.html">
                                 Login Security
                              </a>
                           </li>
                           <li>
                              <a href="favourites.html">
                                 Favourites
                              </a>
                           </li>
                           <li>
                              <a href="transaction.html">
                                 Transaction
                              </a>
                           </li>
                           <li>
                              <a href="password-change.html">
                                 Change Password
                              </a>
                           </li>
                           <li>
                              <a href="notification.html">
                                 Notification
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              Signup & Register
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="signup.html">
                                Signup Register
                              </a>
                           </li>
                           <li>
                              <a href="password.html">
                                 Password Change
                              </a>
                           </li>
                           <li>
                              <a href="number-toreach.html">
                                 Signup Number 
                              </a>
                           </li>
                           <li>
                              <a href="varified-number.html">
                                 Varified Number 
                              </a>
                           </li>
                           <li>
                              <a href="signin.html">
                                 Sign in 
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                
               <li>
               <li class="sigup__grp d-lg-none d-flex align-items-center">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </li>
            </ul>
            <div class="sigin__grp d-flex align-items-center">
               <a href="signin.html" class="cmn__btn outline__btn">
                  <span>
                     Signin
                  </span>
               </a>
               <a href="signup.html" class="cmn__btn">
                  <span>
                     Signup
                  </span>
               </a>
            </div>
         </div>
      </div>
   </header>
<!-- Header top End -->

<!-- breadcumnd banner Here -->
<section class="breadcumnd__banner">
   <!--Container-->
   <div class="container">
      <div class="breadcumnd__wrapper">
         <h2 class="bread__title">
            Train - Invoice
         </h2>
         <ul class="breadcumnd__link">
            <li>
               <a href="index.html">
                  Home
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
               <a href="javascript:void(0)">
                  Booking
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
               <a href="javascript:void(0)">
                  Train
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
               Invoice
            </li>
         </ul>
      </div>
   </div>
   <!--Container-->
</section>
<!-- breadcumnd banner End -->

<!-- order here -->
<section class="order__section pt__60 pb__60">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xxl-8 col-xl-10 col-lg-12">
            <div class="order__wrappers invoice__wrapper">
               <div class="invoice__textwrapper mb__30">
                  <div class="invoice__leftbox">
                     <h3>
                        Invoice
                     </h3>
                     <div class="invoice__leftnumber">
                        <span class="bage">
                           Invoice number
                        </span>
                        <span class="counting">
                           325 546 744
                        </span>
                     </div>
                     <div class="invoice__leftnumber">
                        <span class="bage">
                           Booking Date   
                        </span>
                        <span class="counting">
                           07/11/2023
                        </span>
                     </div>
                     <div class="invoice__leftnumber">
                        <span class="bage">
                           Payment Method
                        </span>
                        <span class="counting">
                           Credit Card
                        </span>
                     </div>
                  </div>
                  <div class="invoice__righttbox">
                     <span class="hirename">
                        Passenger Details:
                     </span>
                     <h5 class="name">
                        Mr. Jonson Hawk
                     </h5>
                     <div class="invoice__leftnumber">
                        <span class="bage">
                           Age
                        </span>
                        <span class="counting">
                           31
                        </span>
                     </div>
                     <div class="invoice__leftnumber">
                        <span class="bage">
                           Phone
                        </span>
                        <span class="counting">
                           (684) 555-0102
                        </span>
                     </div>
                     <div class="invoice__leftnumber">
                        <span class="bage">
                           Email
                        </span>
                        <span class="counting">
                           <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a2ccd4d68ccbd1d1d68cccd7d6c7e2c5cfc3cbce8cc1cdcf">[email&#160;protected]</a>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="invoice__journey mb__30">
                  <h5 class="dtext border__bottom">
                     Journey Details
                  </h5>
                  <div class="d-flex journey__invoicedata">
                     <ul class="jou__data">
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Transactions ID
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              CDFF123476359
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Train No & Name
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              Delta Express
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Booking Date
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              16-12-2022
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Class
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              AC_Chair
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              From
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              New York
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Departure
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              10:20 pm
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Distance
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              2856 Km
                           </span>
                        </li>
                        <li class="d-flex align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Adult
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              1
                           </span>
                        </li>
                     </ul>
                     <ul class="jou__data jou__tadatwo">
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              PNR
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              445216232
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Date of journey
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              22-12-2022
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Mode of payment
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              Credit Card
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Transaction
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              Success
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              To
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              Dubai
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Child
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              0
                           </span>
                        </li>
                        <li class="d-flex border__bottom align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Seats No
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              A(1)
                           </span>
                        </li>
                        <li class="d-flex align-items-center justify-content-between">
                           <span class="fz-18 fw-400 lato dtext">
                              Payment Amount
                           </span>
                           <span class="fz-18 fw-600 lato dtext">
                              $114
                           </span>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="order__summary__wrapper mb__40">
                  <div class="over__responsive">
                  <h5 class="summary__title">Booking Summary</h5>
                  <div class="order__table__fluid order__table__flight">
                     <div class="order__table__items bg__add">
                        <span class="fz-18 fw-600 lato dtext d-block">
                           Train Details
                        </span>
                        <span class="fz-18 fw-600 lato dtext d-block">
                           Operrator
                        </span>
                        <span class="fz-18 fw-600 lato dtext d-block">
                           Receive amount
                        </span>
                        <span class="fz-18 fw-600 lato dtext d-block">
                           Amount
                        </span>
                     </div>
                     <div class="order__table__items">
                        <span>
                           Delta 71613 - 
                        </span>
                        <span>
                           $980.00
                        </span>
                        <span>
                           0
                        </span>
                        <span>
                           $980.00
                        </span>
                     </div>
                     <div class="order__table__itemsflight pb__15">
                        <span class="fz-16 d-block fw-400 lato dtext">
                           Dubai To New York 
                        </span>
                        <span class="fz-16 d-block fw-400 lato dtext">
                           Travel Date - Sun, 
                        </span>
                        <span class="fz-16 d-block fw-400 lato dtext">
                           22 dec 22, 02:50 
                        </span>
                        <span class="fz-16 d-block fw-400 lato dtext">
                           hrs
                        </span>
                     </div>
                  </div>
                  <div class="order__table__box">
                     <div class="order__graph">
                        <ul>
                           <li>
                              <span>Sub Total:</span>
                              <span class="bg">$4531.00</span>
                           </li>
                           <li>
                              <span>Promotional Code:</span>
                              <span class="bg">0</span>
                           </li>
                           <li>
                              <span>Total:</span>
                              <span class="bg">$4531.00</span>
                           </li>
                        </ul>
                     </div>
                  </div>
                  </div>
               </div>
               <p class="note">
                  Note : This is computer generated receipt and does not require physical signature.
               </p>
               <div class="print__point__btn d-flex align-items-center gap-3">
                  <a href="print" class="cmn__btn">
                     <span>
                        <i class="material-symbols-outlined">
                           print
                        </i>
                     </span>
                     <span class="print">
                        Print
                     </span>
                  </a>
                  <a href="print" class="cmn__btn">
                     <span>
                        <i class="material-symbols-outlined">
                           download
                        </i>
                     </span>
                     <span class="print">
                        Download
                     </span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- order End -->

<!-- Footer Here -->
<footer class="footer__section bgsection pt-120">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__top pb-120">
            <div class="row gy-5 gx-5">
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <a href="index.html" class="footer__logo">
                           <img src="/static/assets/img/logo/logo.png" alt="logo">
                        </a>
                     </div>
                     <p class="pratext mb__20 fz-18">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...
                     </p>
                     <ul class="social d-flex gap-3">
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/facebook.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/instagram.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/twitter.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/ball.svg" alt="svg">
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.5s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Quick Links
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="index.html" class="link fz-18 pratext">
                           Home
                        </a>
                        <a href="about.html" class="link fz-18 pratext">
                           About
                        </a>
                        <a href="index.html" class="link fz-18 pratext">
                          Rechage & Bill Payment
                        </a>
                        <a href="booking-landing1.html" class="link fz-18 pratext">
                           Booking
                        </a>
                        <a href="contact.html" class="link fz-18 pratext">
                           Contact
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.7s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Address
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                          <span class="d-block">
                           (480) 555-0103
                          </span>
                          <span>
                           (406) 555-0120
                          </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           <span class="d-block">
                              <span class="__cf_email__" data-cfemail="aecacbcfc0c0cf80cddbdcdac7ddeecbd6cfc3dec2cb80cdc1c3">[email&#160;protected]</span>
                           </span>
                           <span>
                              <span class="__cf_email__" data-cfemail="b7d3d2d5c5d699dfd8dbc3f7d2cfd6dac7dbd299d4d8da">[email&#160;protected]</span>
                           </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           285 Great North Road, Grey Lynn, Auckland 1021
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.9s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Newsletter
                        </h4>
                     </div>
                     <div class="widget__link">
                        <p class="fz-18 pratext mb__30">
                           Subscribe our newsletter to get our latest update & news
                        </p>
                       <form action="javacript:void(0)" class="d-flex justify-content-between">
                           <input type="email" placeholder="Your mail address">
                           <button type="submit" class="cmn__btn">
                             <span>
                                 <i class="material-symbols-outlined">
                                    rocket_launch
                                 </i>
                             </span>
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer__bottom d-flex">
            <p class="fz-18 pratext">
               Copyright &copy;2023 <a href="index.html" class="base">Rechargio.</a> All Rights Reserved
            </p>
            <ul class="footer__bottom__link">
               <li>
                  <a href="help-support.html">
                     Support
                  </a>
               </li>
               <li>
                  <a href="help-support.html">
                     Terms of Use
                  </a>
               </li>
               <li>
                  <a href="help.html">
                     Privacy Policy
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<!-- Footer End -->



   <!--Jquery 3 6 0 Min Js-->
   <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/assets/js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="/static/assets/js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="/static/assets/js/odometer.min.js"></script>
   <!--date picker Js-->
   <script src="/static/assets/js/bootstrap-datepicker.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
   <!--nice select Js-->
   <script src="/static/assets/js/jquery.nice-select.min.js"></script>
   <!--Wow min Js-->
   <script src="/static/assets/js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="/static/assets/js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="/static/assets/js/prism.js"></script>
   <!--main Js-->
   <script src="/static/assets/js/main.js"></script>
</body>

</html>