<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Trainz</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="/static/assets/img/logo/favicon.png">
   <!--nice select css-->
   <link rel="stylesheet" href="/static/assets/css/nice-select.css">
   <!--datepicker css-->
   <link rel="stylesheet" href="/static/assets/css/datepickerboot.css">
   <!--main css-->
   <link rel="stylesheet" href="/static/assets/css/main.css">
</head>

<body>

<!-- Preloader Start Here -->
<div class="preloader__wrap">
   <div class="preloader__box">
      <div class="circle">
         <img src="/static/assets/img/preloader/preloader.png" alt="preloader">
      </div>
      <div class="recharge">
         <img src="/static/assets/img/preloader/rechage.png" alt="rechage">
      </div>
      <span class="pretext">
         Rechargio
      </span>
   </div>
</div>
<!-- Preloader End Here -->


<!-- train booking Here -->
<section class="hotel__booksection train__booksection">
   <header class="header-section">
      <div class="container">
         <div class="header-wrapper">
            <div class="logo-menu">
               <a href="index.html" class="logo">
                  <img src="/static/assets/img/logo/logo.png" alt="logo">
               </a>
               <a href="index.html" class="small__logo d-xl-none">
                  <img src="/static/assets/img/logo/favicon.png" alt="logo">
               </a>
            </div>
            <div class="menu__right__components d-flex align-items-center">
               <div class="sigup__grp d-lg-none">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </div>
               <div class="header-bar d-lg-none">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
            </div>
            <ul class="main-menu">
               <li class="grid__style">
                  <a href="javascript:void(0)" >
                     <span>
                      <a href=''>Home </a>  
                     </span>
                   </a>
                  <ul class="">
                  </ul>
               </li>
               <li>
                  <a href="javascript:void(0)" class="d-flex">
                    <span>
                        Booking 
                    </span>
                     <span class="icons">
                        <i class="material-symbols-outlined">
                           expand_more
                        </i>
                     </span>
                  </a>
                  <ul class="sub-menu submenu__booking">
                     <li class="d">
                        <a href="javascript:void(0)">
                           <span class="fz-18 dtext d-block fw-700 lato">
                              Train
                           </span>
                        </a>
                        <a href=' '>
                           Train Booking
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                  <a href="javascript:void(0)" class="d-flex">
                     <span>
                        Pages 
                     </span>
                      <span class="icons">
                         <i class="material-symbols-outlined">
                            expand_more
                         </i>
                      </span>
                   </a>
                  <ul class="sub-menu">
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              My Profile
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="personal-information.html">
                                Personal info
                              </a>
                           </li>
                           <li>
                              <a href="login-security.html">
                                 Login Security
                              </a>
                           </li>
                           <li>
                              <a href="favourites.html">
                                 Favourites
                              </a>
                           </li>
                           <li>
                              <a href="transaction.html">
                                 Transaction
                              </a>
                           </li>
                           <li>
                              <a href="password-change.html">
                                 Change Password
                              </a>
                           </li>
                           <li>
                              <a href="notification.html">
                                 Notification
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              Signup & Register
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="signup.html">
                                Signup Register
                              </a>
                           </li>
                           <li>
                              <a href="password.html">
                                 Password Change
                              </a>
                           </li>
                           <li>
                              <a href="number-toreach.html">
                                 Signup Number 
                              </a>
                           </li>
                           <li>
                              <a href="varified-number.html">
                                 Varified Number 
                              </a>
                           </li>
                           <li>
                              <a href="signin.html">
                                 Sign in 
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                
               <li>
               <li class="sigup__grp d-lg-none d-flex align-items-center">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </li>
            </ul>
            <div class="sigin__grp d-flex align-items-center">
               <a href="signin.html" class="cmn__btn outline__btn">
                  <span>
                     Signin
                  </span>
               </a>
               <a href="signup.html" class="cmn__btn">
                  <span>
                     Signup
                  </span>
               </a>
            </div>
         </div>
      </div>
   </header>
   <div class="container">
      <div class="row">
         <div class="col-xxl-7 col-xl-7 col-lg-8">
            <div class="hotel__content">
               <h1 class="wow fadeInDown" data-wow-duration="2s">
                  Discover traveling the world by train
               </h1>
               <p class="wow fadeInUp max-636" data-wow-duration="2s">
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration...
               </p>
               <div class="cmn__grp">
                  <a href="about.html" class="cmn__btn">
                     <span>
                        About us
                     </span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="trainshpe">
      <img src="/static/assets/img/train/trainthumb.png" alt="img">
   </div>
</section>
<!-- train booking End -->

<!-- train booking Categoris Here -->
<div class="hotelbokking__categoris">
   <div class="container">
      <div class="hotelbooking__categoris__wrap spacebottom__none">
         <div class="dating__body">
            <h5 class="hoteltitle"> 
               Book Train Tickets
            </h5>
            <div class="dating__body">
               <div class="booking__radio mb__30">
                  <div class="b__radio">
                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="bradios1s" checked>
                     <label class="form-check-label" for="bradios1s">
                        One Way
                     </label>
                  </div>
                  <div class="b__radio">
                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="bradios2s">
                     <label class="form-check-label" for="bradios2s">
                        Round Trip
                     </label>
                  </div>
               </div>
               <div class="dating__body__box dating__flight">
                 <div class="row justify-content-center g-3">
                     <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                        <div class="dating__item dating__hidden">
                           <input type="text" placeholder="From">
                           <span class="calendaricon">
                              <i class="material-symbols-outlined">
                                 location_on
                              </i>
                           </span>
                        </div>
                     </div>
                     <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                        <div class="dating__item dating__hidden">
                           <input type="text" placeholder="To">
                           <span class="calendaricon">
                              <i class="material-symbols-outlined">
                                 location_on
                              </i>
                           </span>
                        </div>
                     </div>
                     <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                        <div class="dating__item dating__hidden">
                           <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                              <input class="form-control" type="text" placeholder="Depart Date" readonly>
                              <span class="calendaricon">
                                 <i class="material-symbols-outlined">
                                    calendar_month
                                 </i>
                              </span>
                              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        </div>
                     </div>
                     <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                        <div class="dating__item dating__hidden">
                           <div id="datepicker2" class="input-group date" data-date-format="dd-mm-yyyy">
                              <input class="form-control" type="text" placeholder="Return Date" readonly>
                              <span class="calendaricon">
                                 <i class="material-symbols-outlined">
                                    calendar_month
                                 </i>
                              </span>
                              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        </div>
                     </div>
                     <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                        <div class="dating__item select__border">
                           <select name="room">
                              <option value="1">
                                 Class
                              </option>
                              <option value="2">
                                 Class Standard
                              </option>
                              <option value="3">
                                 Class Standard
                              </option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                        <div class="dating__item">
                           <button type="submit" class="cmn__btn">
                              <span>
                                 Search Trains
                              </span>
                           </button>
                        </div>
                     </div>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- train booking Categoris end -->

<!-- train ticket here -->
<section class="train__ticket">
   <div class="container">
      <div class="row flex-row-reverse align-items-center justify-content-between">
         <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="train__ticket__content">
               <div class="section__header mb__30">
                  <h2>
                     Different Types of Train Ticket Booking
                  </h2>
                  <p>
                     There are many variations of passages of Lorem Ipsum available, but the  have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use...
                  </p>
               </div>
               <ul class="offer__list pb__40">
                  <li>
                     <span class="thumb">
                        <img src="/static/assets/img/train/unoffer.png" alt="img">
                     </span>
                     <span class="text">
                        Unlimited Offers
                     </span>
                  </li>
                  <li>
                     <span class="thumb">
                        <img src="/static/assets/img/train/suppor24.png" alt="img">
                     </span>
                     <span class="text">
                        24X7 Support
                     </span>
                  </li>
                  <li>
                     <span class="thumb">
                        <img src="/static/assets/img/train/secure100.png" alt="img">
                     </span>
                     <span class="text">
                        100% Secure
                     </span>
                  </li>
                  <li>
                     <span class="thumb">
                        <img src="/static/assets/img/train/truspay.png" alt="img">
                     </span>
                     <span class="text">
                        Trust pay
                     </span>
                  </li>
               </ul>
               <a href="train-list.html" class="cmn__btn">
                  <span>
                     Explore deals
                  </span>
               </a>
            </div>
         </div>
         <div class="col-xxl-5 col-xl-5 col-lg-5">
            <div class="trainticket__thumb">
               <img src="/static/assets/img/train/trainticket.png" alt="img">
            </div>
         </div>
      </div>
   </div>
</section>
<!-- train ticket end -->

<!-- train ticketeasily Here -->
<section class="ticketeasily__section">
   <div class="container">
      <div class="row justify-content-between align-items-center">
         <div class="col-xxl-6 col-xl-7 col-lg-7">
            <div class="refer__content trainticket__content">
               <div class="section__header mb__30 wow fadeInDown">
                  <h2>
                     How to purchase ticket very easily
                  </h2>
                  <p>
                     There are many variations of passages of Lorem Ipsum available, but the         have suffered alteration in some form, by injected humour, or randomised      words which don't look even slightly believable. If you are going to use...
                  </p>
               </div>
               <div class="refer__wrap pt__20">
                  <div class="refer__item wow fadeInUp" data-wow-duration="1.2s">
                     <div class="icon">
                        <img src="/static/assets/img/train/trainsearch.png" alt="img">
                     </div>
                     <div class="content">
                        <h5>
                           Search Train
                        </h5>
                        <p>Choose your origin, destination, jouney dates and search for trains</p>
                     </div>
                  </div>
                  <div class="refer__item wow fadeInUp" data-wow-duration="1.4s">
                     <div class="icon">
                        <img src="/static/assets/img/train/slecetseats.png" alt="img">
                     </div>
                     <div class="content">
                        <h5>
                           Select seats
                        </h5>
                        <p>Select your desired trip and choose your seats</p>
                     </div>
                  </div>
                  <div class="refer__item wow fadeInUp" data-wow-duration="1.6s">
                     <div class="icon">
                        <img src="/static/assets/img/train/buypay.png" alt="img">
                     </div>
                     <div class="content">
                        <h5>
                           Buy & pay 
                        </h5>
                        <p>Pay for the tickets Via Dbit / Creadit Cards or MFS</p>
                     </div>
                  </div>
               </div>
               <a href="train-list.html" class="cmn__btn wow fadeInUp" data-wow-duration="1.8s">
                  <span>
                     Explore deals
                  </span>
               </a>
            </div>
         </div>
         <div class="col-xxl-6 col-xl-5 col-lg-5">
           
         </div>
      </div>
   </div>
   <div class="trainticket__shape">
      <img src="/static/assets/img/train/tarinshapeticket.png" alt="img">
   </div>
</section>
<!-- train ticketeasily End -->

<!-- train facilities here -->
<section class="hotel__facilities pt-120 pb-120">
   <div class="container">
      <div class="row justify-content-center"> 
         <div class="col-xxl-6 col-xl-7 col-lg-7 wow fadeInDown">
            <div class="section__header section__center pb__60">
               <h2>
                  Train Facilities
               </h2>
               <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
               </p>
            </div>
         </div>
      </div>
      <div class="flight__facilites__wrap">
         <div class="row g-4 justify-content-center">
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.2s">
               <div class="hotel__facilities__item">
                  <div class="head__wrap">
                     <img src="/static/assets/img/room/breakfast.png" alt="img">
                     <h5>
                        <a href="#">
                           Breakfast
                        </a>
                     </h5>
                  </div>
                  <p>
                     It is a long established fact that a reader will be distracted by the...
                  </p>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.6s">
               <div class="hotel__facilities__item">
                  <div class="head__wrap">
                     <img src="/static/assets/img/room/seats.png" alt="img">
                     <h5>
                        <a href="#">
                           Comfortable seats
                        </a>
                     </h5>
                  </div>
                  <p>
                     It is a long established fact that a reader will be distracted by the...
                  </p>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.9s">
               <div class="hotel__facilities__item">
                  <div class="head__wrap">
                     <img src="/static/assets/img/room/wifi.png" alt="img">
                     <h5>
                        <a href="#">
                           Sunlimited WIFI
                        </a>
                     </h5>
                  </div>
                  <p>
                     It is a long established fact that a reader will be distracted by the...
                  </p>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2.1s">
               <div class="hotel__facilities__item">
                  <div class="head__wrap">
                     <img src="/static/assets/img/room/drinkss.png" alt="img">
                     <h5>
                        <a href="#">
                           Cold Drinks
                        </a>
                     </h5>
                  </div>
                  <p>
                     It is a long established fact that a reader will be distracted by the...
                  </p>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2.2s">
               <div class="hotel__facilities__item">
                  <div class="head__wrap">
                     <img src="/static/assets/img/room/hotcoffee.png" alt="img">
                     <h5>
                        <a href="#">
                           Hot Coffee
                        </a>
                     </h5>
                  </div>
                  <p>
                     It is a long established fact that a reader will be distracted by the...
                  </p>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2.3s">
               <div class="hotel__facilities__item">
                  <div class="head__wrap">
                     <img src="/static/assets/img/room/salat.png" alt="img">
                     <h5>
                        <a href="#">
                           Place of Religion Pray
                        </a>
                     </h5>
                  </div>
                  <p>
                     It is a long established fact that a reader will be distracted by the...
                  </p>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2.3s">
               <div class="hotel__facilities__item">
                  <div class="head__wrap">
                     <img src="/static/assets/img/room/medical.png" alt="img">
                     <h5>
                        <a href="#">
                           Medical treatment
                        </a>
                     </h5>
                  </div>
                  <p>
                     It is a long established fact that a reader will be distracted by the...
                  </p>
               </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2.3s">
               <div class="hotel__facilities__item">
                  <div class="head__wrap">
                     <img src="/static/assets/img/room/supports.png" alt="img">
                     <h5>
                        <a href="#">
                           Unlimited Support
                        </a>
                     </h5>
                  </div>
                  <p>
                     It is a long established fact that a reader will be distracted by the...
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- train facilities End -->

<!--train booktour here -->
<section class="flight__tour train__tour">
   <div class="container">
      <div class="row justify-content-between">
         <div class="col-xx-6 col-xl-6 col-lg-6"></div>
         <div class="col-xx-6 col-xl-6 col-lg-6 col-md-8">
           <div class="train__tour__contetn">
               <div class="section__header">
                  <h2>
                     The best solution for traveling by train
                  </h2>
                  <p class="pb__40">
                     There are many variations of passages of Lorem Ipsum available, but the  have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use It is a long established fact that a reader will be distracted by the readable content...
                  </p>
                  <a href="flight-oneway.html" class="cmn__btn">
                     <span>
                        Explore deals
                     </span>
                  </a>
               </div>
           </div>
         </div>
      </div>
   </div>
   <div class="bshape1">
      <img src="/static/assets/img/train/ss2.png" alt="img">
   </div>
   <div class="bshape2">
      <img src="/static/assets/img/train/ss1.png" alt="img">
   </div>
   <div class="train__travelshape">
      <img src="/static/assets/img/train/bullet1.jpg" alt="img">
   </div>
</section>
<!--train booktour End -->

<!--train support here-->
<section class="refer__section__three pt-120 pb-120">
   <div class="container">
      <div class="row justify-content-between align-items-center">
         <div class="col-lg-6">
            <div class="section__header">
               <h2>
                  Get train information service here
               </h2>
               <p class="pb__40">
                  There are many variations of passages of Lorem Ipsum available, but the         have suffered alteration in some form, by injected humour, or randomised         words which don't look even slightly believable. If you are going to use...
               </p>
               <a href="javascript:void(0)" class="cmn__btn">
                  <span>
                     Explore deals
                  </span>
               </a>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="refer__boxes__wrap refer__boxes__wrapthree">
               <div class="row g-4 align-items-center">
                  <div class="col-lg-6 col-md-6">
                     <div class="refer__items__thregrid">
                        <div class="refer__item refer__item__grid">
                           <div class="icon">
                              <img src="/static/assets/img/train/pnarstatustrain.png" alt="img">
                           </div>
                           <div class="content">
                              <h5>
                                 PNR Status
                              </h5>
                              <p>There are many variations of passages of Lorem...</p>
                              <a href="train-grid.html" class="righicon">
                                 <i class="material-symbols-outlined">
                                    chevron_right
                                 </i>
                              </a>
                           </div>
                        </div>
                        <div class="refer__item refer__item__grid">
                           <div class="icon">
                              <img src="/static/assets/img/train/viewcoasch.png" alt="img">
                           </div>
                           <div class="content">
                              <h5>
                                View coach position
                              </h5>
                              <p>There are many variations of passages of Lorem...</p>
                              <a href="train-grid.html" class="righicon">
                                 <i class="material-symbols-outlined">
                                    chevron_right
                                 </i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 updown__support">
                     <div class="refer__items__thregrid">
                        <div class="refer__item refer__item__grid">
                           <div class="icon">
                              <img src="/static/assets/img/train/livetrain.png" alt="img">
                           </div>
                           <div class="content">
                              <h5>
                                Live train status
                              </h5>
                              <p>There are many variations of passages of Lorem...</p>
                              <a href="train-grid.html" class="righicon">
                                 <i class="material-symbols-outlined">
                                    chevron_right
                                 </i>
                              </a>
                           </div>
                        </div>
                        <div class="refer__item refer__item__grid">
                           <div class="icon">
                              <img src="/static/assets/img/train/platform.png" alt="img">
                           </div>
                           <div class="content">
                              <h5>
                                Platform Locator
                              </h5>
                              <p>There are many variations of passages of Lorem...</p>
                              <a href="train-grid.html" class="righicon">
                                 <i class="material-symbols-outlined">
                                    chevron_right
                                 </i>
                              </a>
                           </div>
                        </div> 
                     </div>
                  </div>
               </div>
               <div class="refer__dotthree1">
                  <img src="/static/assets/img/refer/dots.png" alt="img">
               </div>
               <div class="refer__dotthree2">
                  <img src="/static/assets/img/refer/dots.png" alt="img">
               </div>
               <div class="refer__dotthree3">
                  <img src="/static/assets/img/refer/dots.png" alt="img">
               </div>
               <div class="refer__dotthree4">
                  <img src="/static/assets/img/refer/dots.png" alt="img">
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="refer__ball">
      <img src="/static/assets/img/refer/referball.png" alt="img">
   </div>
</section>
<!--train support end-->

<!--train two app end-->
<section class="app__section bgsection pt-120 pb-120">
   <div class="container">
      <div class="row flex-row-reverse justify-content-between align-items-center">
         <div class="col-xl-6 col-lg-7 col-md-7 wow fadeInDown" data-wow-duration="1.5s">
            <div class="app__content">
               <div class="section__header">
                  <h2>
                     Instructions to Purchase Train Tickets
                  </h2>
                  <p class="apptext"> 
                     Download our app for the fastest, most convenient way to Booking System.
                  </p>
                  <ul class="train__list pb__40">
                     <li>
                        <span class="icons">
                           <i class="material-symbols-outlined">
                              done
                           </i>
                        </span>
                        <span class="textss">
                           Tickets can be bought online five days in advance.
                        </span>
                     </li>
                     <li>
                        <span class="icons">
                           <i class="material-symbols-outlined">
                              done
                           </i>
                        </span>
                        <span class="text">
                           In case of payment or transaction failure, the deducted amount would be refunded by your bank within 8 business days.
                        </span>
                     </li>
                     <li>
                        <span class="icons">
                           <i class="material-symbols-outlined">
                              done
                           </i>
                        </span>
                        <span class="text">
                           In case money has been deducted from your card / mobile wallet but you have not received a ticket confirmation, the deducted amount would be refunded by your bank  within 8 business days.
                        </span>
                     </li>
                     <li>
                        <span class="icons">
                           <i class="material-symbols-outlined">
                              done
                           </i>
                        </span>
                        <span class="text">
                           Download the official app published by Rechargio from App store
                        </span>
                     </li>
                     <li>
                        <span class="icons">
                           <i class="material-symbols-outlined">
                              done
                           </i>
                        </span>
                        <span class="text">
                           In case of passengers downloading fake apps or any other app from app store which claim to sell train tickets of Rechargio, the authorities will not take any liability.
                        </span>
                     </li>
                  </ul>
                  <div class="d-flex gap-3 align-items-center">
                     <a href="javascript:void(0)" class="storyitem">
                        <img src="/static/assets/img/app/appplay.png" alt="img">
                     </a>
                     <a href="javascript:void(0)" class="storyitem">
                        <img src="/static/assets/img/app/appstore.png" alt="img">
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-5 col-lg-5 col-md-5 wow fadeInUp" data-wow-duration="2.5s">
            <div class="app__thumb app__thumb__two">
               <img src="/static/assets/img/app/apptwo.png" alt="img">
            </div>
         </div>
      </div>
   </div>
</section>
<!--train two app end-->

<!--train two qustions start-->
<section class="question__section pt-120 pb-120">
   <div class="container">
      <div class="row justify-content-center wow fadeInDown">
         <div class="col-lg-6">
            <div class="section__header section__center pb__40">
               <h2>
                  If you got questions we have answer
               </h2>
              <p>
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
              </p>
            </div>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-xl-6 col-lg-6">
            <div class="qustion__content">
               <div class="accordion__wrap">
                  <div class="accordion" id="accordionExample">
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="0.9s">
                        <h2 class="accordion-header" id="headingOne">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              What is e recharge?
                           </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s">
                        <h2 class="accordion-header" id="headingTwo">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What is recharge credit?
                           </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.4s">
                        <h2 class="accordion-header" id="headingThree">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              How reliable is recharge com?
                           </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.6s">
                        <h2 class="accordion-header" id="headingThreem">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreem" aria-expanded="false" aria-controls="collapseThreem">
                              What is recharge application?
                           </button>
                        </h2>
                        <div id="collapseThreem" class="accordion-collapse collapse" aria-labelledby="headingThreem" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.8s">
                        <h2 class="accordion-header" id="headingThreemm">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreemm" aria-expanded="false" aria-controls="collapseThreemm">
                              How do I recharge a phone number?
                           </button>
                        </h2>
                        <div id="collapseThreemm" class="accordion-collapse collapse" aria-labelledby="headingThreemm" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.9s">
                        <h2 class="accordion-header" id="headingThreemmm">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreemmm" aria-expanded="false" aria-controls="collapseThreemmm">
                              What is the primary function of the recharge payment application?
                           </button>
                        </h2>
                        <div id="collapseThreemmm" class="accordion-collapse collapse" aria-labelledby="headingThreemmm" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-6 col-lg-6">
            <div class="qustion__content">
               <div class="accordion__wrap">
                  <div class="accordion" id="accordionExample2">
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="0.9s">
                        <h2 class="accordion-header" id="headingOness">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOness" aria-expanded="true" aria-controls="collapseOne">
                              What is e recharge?
                           </button>
                        </h2>
                        <div id="collapseOness" class="accordion-collapse collapse" aria-labelledby="headingOness" data-bs-parent="#accordionExample2">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1s">
                        <h2 class="accordion-header" id="headingTwoss">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoss" aria-expanded="false" aria-controls="collapseTwo">
                              What is recharge credit?
                           </button>
                        </h2>
                        <div id="collapseTwoss" class="accordion-collapse collapse" aria-labelledby="headingTwoss" data-bs-parent="#accordionExample2">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.4s">
                        <h2 class="accordion-header" id="headingThreess">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreess" aria-expanded="false" aria-controls="collapseThree">
                              How reliable is recharge com?
                           </button>
                        </h2>
                        <div id="collapseThreess" class="accordion-collapse collapse" aria-labelledby="headingThreess" data-bs-parent="#accordionExample2">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.6s">
                        <h2 class="accordion-header" id="headingThreemss">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreemss" aria-expanded="false" aria-controls="collapseThreem">
                              What is recharge application?
                           </button>
                        </h2>
                        <div id="collapseThreemss" class="accordion-collapse collapse" aria-labelledby="headingThreemss" data-bs-parent="#accordionExample2">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.8s">
                        <h2 class="accordion-header" id="headingThreemmss">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreemmss" aria-expanded="false" aria-controls="collapseThreemm">
                              How do I recharge a phone number?
                           </button>
                        </h2>
                        <div id="collapseThreemmss" class="accordion-collapse collapse" aria-labelledby="headingThreemmss" data-bs-parent="#accordionExample2">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                     <div class="accordion-item wow fadeInUp" data-wow-duration="1.9s">
                        <h2 class="accordion-header" id="headingThreemmmss">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreemmmss" aria-expanded="false" aria-controls="collapseThreemmm">
                              What is the primary function of the recharge payment application?
                           </button>
                        </h2>
                        <div id="collapseThreemmmss" class="accordion-collapse collapse show" aria-labelledby="headingThreemmmss" data-bs-parent="#accordionExample2">
                           <div class="accordion-body">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                              </p>
                           </div>
                        </div>
                     </div>
                     <!--Accordion items-->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--train two qustions start-->

<!-- Footer Here -->
<footer class="footer__section bgsection pt-120">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__top pb-120">
            <div class="row gy-5 gx-5">
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <a href="index.html" class="footer__logo">
                           <img src="/static/assets/img/logo/logo.png" alt="logo">
                        </a>
                     </div>
                     <p class="pratext mb__20 fz-18">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...
                     </p>
                     <ul class="social d-flex gap-3">
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/facebook.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/instagram.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/twitter.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/ball.svg" alt="svg">
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.5s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Quick Links
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="index.html" class="link fz-18 pratext">
                           Home
                        </a>
                        <a href="about.html" class="link fz-18 pratext">
                           About
                        </a>
                        <a href="index.html" class="link fz-18 pratext">
                          Rechage & Bill Payment
                        </a>
                        <a href="booking-landing1.html" class="link fz-18 pratext">
                           Booking
                        </a>
                        <a href="contact.html" class="link fz-18 pratext">
                           Contact
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.7s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Address
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                          <span class="d-block">
                           (480) 555-0103
                          </span>
                          <span>
                           (406) 555-0120
                          </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           <span class="d-block">
                              <span class="__cf_email__" data-cfemail="395d5c58575758175a4c4b4d504a795c41585449555c175a5654">[email&#160;protected]</span>
                           </span>
                           <span>
                              <span class="__cf_email__" data-cfemail="bbdfded9c9da95d3d4d7cffbdec3dad6cbd7de95d8d4d6">[email&#160;protected]</span>
                           </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           285 Great North Road, Grey Lynn, Auckland 1021
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.9s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Newsletter
                        </h4>
                     </div>
                     <div class="widget__link">
                        <p class="fz-18 pratext mb__30">
                           Subscribe our newsletter to get our latest update & news
                        </p>
                       <form action="javacript:void(0)" class="d-flex justify-content-between">
                           <input type="email" placeholder="Your mail address">
                           <button type="submit" class="cmn__btn">
                             <span>
                                 <i class="material-symbols-outlined">
                                    rocket_launch
                                 </i>
                             </span>
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer__bottom d-flex">
            <p class="fz-18 pratext">
               Copyright &copy;2023 <a href="index.html" class="base">Rechargio.</a> All Rights Reserved
            </p>
            <ul class="footer__bottom__link">
               <li>
                  <a href="help-support.html">
                     Support
                  </a>
               </li>
               <li>
                  <a href="help-support.html">
                     Terms of Use
                  </a>
               </li>
               <li>
                  <a href="help.html">
                     Privacy Policy
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<!-- Footer End -->



   <!--Jquery 3 6 0 Min Js-->
   <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/assets/js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="/static/assets/js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="/static/assets/js/odometer.min.js"></script>
   <!--date picker Js-->
   <script src="/static/assets/js/bootstrap-datepicker.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
   <!--nice select Js-->
   <script src="/static/assets/js/jquery.nice-select.min.js"></script>
   <!--Wow min Js-->
   <script src="/static/assets/js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="/static/assets/js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="/static/assets/js/prism.js"></script>
   <!--main Js-->
   <script src="/static/assets/js/main.js"></script>
</body>

</html>