<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Rechargio - Recharge & Bill Payment, Booking HTML5 Template</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="/static/assets/img/logo/favicon.png">
   <!--nice select css-->
   <link rel="stylesheet" href="/static/assets/css/nice-select.css">
   <!--datepicker css-->
   <link rel="stylesheet" href="/static/assets/css/datepickerboot.css">
   <!--main css-->
   <link rel="stylesheet" href="/static/assets/css/main.css">
</head>

<body>

<!-- Preloader Start Here -->
<div class="preloader__wrap">
   <div class="preloader__box">
      <div class="circle">
         <img src="/static/assets/img/preloader/preloader.png" alt="preloader">
      </div>
      <div class="recharge">
         <img src="/static/assets/img/preloader/rechage.png" alt="rechage">
      </div>
      <span class="pretext">
         Rechargio
      </span>
   </div>
</div>
<!-- Preloader End Here -->



<!-- Header top Here -->
<section class="hotel__booksection train__booksection">
   <header class="header-section">
      <div class="container">
         <div class="header-wrapper">
            <div class="logo-menu">
               <a href="index.html" class="logo">
                  <img src="/static/assets/img/logo/logo.png" alt="logo">
               </a>
               <a href="index.html" class="small__logo d-xl-none">
                  <img src="/static/assets/img/logo/favicon.png" alt="logo">
               </a>
            </div>
            <div class="menu__right__components d-flex align-items-center">
               <div class="sigup__grp d-lg-none">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </div>
               <div class="header-bar d-lg-none">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
            </div>
            <ul class="main-menu">
               <li class="grid__style">
                  <a href="javascript:void(0)" >
                     <span>
                        <a href='/ '>Home </a>  
                       </span>
                   </a>
                  <ul class="">
                  </ul>
               </li>
               <li>
                  <a href="javascript:void(0)" class="d-flex">
                    <span>
                        Booking 
                    </span>
                     <span class="icons">
                        <i class="material-symbols-outlined">
                           expand_more
                        </i>
                     </span>
                  </a>
                  <ul class="sub-menu submenu__booking">
                     <li class="d">
                        <a href="javascript:void(0)">
                           <span class="fz-18 dtext d-block fw-700 lato">
                              Train
                           </span>
                        </a>
                        <a href='/ '>
                           Train Booking
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                  <a href="javascript:void(0)" class="d-flex">
                     <span>
                        Pages 
                     </span>
                      <span class="icons">
                         <i class="material-symbols-outlined">
                            expand_more
                         </i>
                      </span>
                   </a>
                  <ul class="sub-menu">
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              My Profile
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="personal-information.html">
                                Personal info
                              </a>
                           </li>
                           <li>
                              <a href="login-security.html">
                                 Login Security
                              </a>
                           </li>
                           <li>
                              <a href="favourites.html">
                                 Favourites
                              </a>
                           </li>
                           <li>
                              <a href="transaction.html">
                                 Transaction
                              </a>
                           </li>
                           <li>
                              <a href="password-change.html">
                                 Change Password
                              </a>
                           </li>
                           <li>
                              <a href="notification.html">
                                 Notification
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li class="subtwohober">
                        <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">
                           <span class="text">
                              Signup & Register
                           </span>
                           <span class="icon">
                              <i class="material-symbols-outlined">
                                 add
                              </i>
                           </span>  
                        </a>
                        <ul class="sub-two">
                           <li>
                              <a href="signup.html">
                                Signup Register
                              </a>
                           </li>
                           <li>
                              <a href="password.html">
                                 Password Change
                              </a>
                           </li>
                           <li>
                              <a href="number-toreach.html">
                                 Signup Number 
                              </a>
                           </li>
                           <li>
                              <a href="varified-number.html">
                                 Varified Number 
                              </a>
                           </li>
                           <li>
                              <a href="signin.html">
                                 Sign in 
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li class="grid__style">
                
               <li>
               <li class="sigup__grp d-lg-none d-flex align-items-center">
                  <a href="signin.html" class="cmn__btn outline__btn">
                     <span>
                        Signin
                     </span>
                  </a>
                  <a href="signup.html" class="cmn__btn">
                     <span>
                        Signup
                     </span>
                  </a>
               </li>
            </ul>
            <div class="sigin__grp d-flex align-items-center">
               <a href="signin.html" class="cmn__btn outline__btn">
                  <span>
                     Signin
                  </span>
               </a>
               <a href="signup.html" class="cmn__btn">
                  <span>
                     Signup
                  </span>
               </a>
            </div>
         </div>
      </div>
   </header>
<!-- Header top End -->

<!-- breadcumnd banner Here -->
<section class="breadcumnd__banner">
   <!--Container-->
   <div class="container">
      <div class="breadcumnd__wrapper">
         <h2 class="bread__title">
            Train - Confirm Details
         </h2>
         <ul class="breadcumnd__link">
            <li>
               <a href="index.html">
                  Home
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
               <a href="javascript:void(0)">
                  Booking
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
               <a href="javascript:void(0)">
                  Train
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
               <a href="javascript:void(0)">
                  Lisst Page
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
               <a href="javascript:void(0)">
                  Booking System
               </a>
            </li>
            <li>
               <i class="material-symbols-outlined">
                  chevron_right
               </i>
            </li>
            <li>
               Confirm Details
            </li>
         </ul>
      </div>
   </div>
   <!--Container-->
</section>
<!-- breadcumnd banner End -->

<!-- hotel list here -->
<section class="flight__onewaysectio pt__60 pb__60">
   <div class="container">
      <div class="row g-4 justify-content-center">
         <div class="col-xxl-8 col-xl-8 col-lg-8">
            <div class="flight__oneway__confirmdetails shadow bgwhite">
               <h3 class="dtext mb__40 xs-28">
                  Confirm Trains Details
               </h3>
               <div class="flight__oneway__item2 bdash pb__30 mb__30">
                  <div class="flight__oneway__inner2">
                     <div class="table__two">
                        <ul class="bgwhite headline__text d-flex justify-content-between circle__input">
                           <li class="fz-18 fw-500 d-block lato dtext">New York TO Dubai</li>
                           <li class="fz-18 fw-500 d-block lato dtext d-flex g-2">22-12-23 Sat (Duration <span class="gratext d-block">8h 30m)</span></li>
                        </ul>
                        <div class="tabletwo__body d-flex justify-content-between w-100">
                           <div class="w-100">
                              <ul class="table__conponent align-items-center tablebg d-flex justify-content-between">
                                 <li>
                                    <span class="delta mb__10 d-block">
                                       <img src="/static/assets/img/payment/deltas.jpg" alt="img">
                                    </span>
                                    <span class="fz-16 fw-400 lato">
                                       Delta Express
                                    </span>
                                 </li>
                                 <li>
                                    <span class="fz-18 mb__10 d-block fw-600 lato dtext">
                                       14:10 am
                                    </span>
                                    <span class="fz-16 fw-400 lato">
                                       NY, US
                                    </span>
                                 </li>
                                 <li>
                                    <span class="fz-18 mb__10 d-block fw-600 lato dtext">
                                       2h 10m
                                    </span>
                                    <span class="fz-16 fw-400 lato">
                                       (13+Stops )
                                    </span>
                                 </li>
                                 <li>
                                    <span class="fz-18 mb__10 d-block fw-600 lato dtext">
                                       10:20 am
                                    </span>
                                    <span class="fz-16 fw-400 lato">
                                       Dubai
                                    </span>
                                 </li>
                                 <li>
                                    <span class="fz-18 mb__10 d-block fw-600 lato dtext">
                                      Seat No: 1
                                    </span>
                                    <span class="fz-16 fw-400 lato">
                                       Coach : A
                                    </span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="travel__protection">
                  <div class="d-flex justify-content-between mb__10 align-items-center ">
                     <h5 class="dtext fw-700">
                        Baggage Information
                     </h5>
                  </div>
                  <div class="d-flex flex-wrap mb__30 align-items-center justify-content-between">
                     <span class="fz-18 fw-400 lato dtext">
                        Travel New York to Dubai
                     </span>
                     <span class="fz-18 fw-400 dtext lato">
                        Coach: A
                     </span>
                  </div>
               </div>
               <div class="bdash pb__30">
                  <div class="row g-3">
                     <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                        <div class="baggage__info d-flex gap-3">
                           <div class="icon d-flex align-items-center justify-content-center">
                              <img src="/static/assets/img/svg/pbag1.svg" alt="bag">
                           </div>
                           <div class="content">
                              <span class="fz-18 d-block mb-1 fw-600 lato ">
                                 Personal Item
                              </span>
                              <span class="fz-16 d-block mb__10 fw-400 lato dtext">
                                 Purse, small backpack, briefcase
                              </span>
                              <span class="d-flex lato fz-16 fw-400 dtext align-items-center gap-2">
                                 <span class="sicon">
                                    <img src="/static/assets/img/svg/over-check.svg" alt="check-svg">
                                 </span>
                                 Included
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                        <div class="baggage__info d-flex gap-3">
                           <div class="icon d-flex align-items-center justify-content-center">
                              <img src="/static/assets/img/svg/pbag2.svg" alt="bag">
                           </div>
                           <div class="content">
                              <span class="fz-18 d-block mb-1 fw-600 lato ">
                                 Carry-on bag
                              </span>
                              <span class="fz-16 d-block mb__10 fw-400 lato dtext">
                                 Fits in overhead bin or under the seat
                              </span>
                              <span class="d-flex lato fz-16 fw-400 dtext align-items-center gap-2">
                                 <span class="sicon">
                                    <img src="/static/assets/img/svg/over-check.svg" alt="check-svg">
                                 </span>
                                 Included
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                        <div class="baggage__info d-flex gap-3">
                           <div class="icon d-flex align-items-center justify-content-center">
                              <img src="/static/assets/img/svg/pbag3.svg" alt="bag">
                           </div>
                           <div class="content">
                              <span class="fz-18 d-block mb-1 fw-600 lato ">
                                 Checked Bags
                              </span>
                              <span class="fz-16 d-block mb__10 fw-400 lato dtext">
                                 Larges Bag Purse, small backpack
                              </span>
                              <span class="d-flex lato fz-16 fw-400 dtext align-items-center gap-2">
                                 <span class="sicon">
                                    <img src="/static/assets/img/svg/cross.svg" alt="check-svg">
                                 </span>
                                 Not Included
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="travel__detailstext mt-4 mb__30">
                  <h5 class="dtext mb__15">
                     Traveler Details
                  </h5>
                  <p class="dtext fz16 fw-400 lato">
                     Please enter the traveler's name and date of birth exactly as shown on the passport (for international flights) or valid government-issued photo ID (for domestic flights) to be used on this trip. Name changes are not permitted after booking.
                  </p>
               </div>
               <div class="covid__restriction mb__30 d-flex align-items-center justify-content-between">
                  <div class="icons d-flex align-items-center justify-content-center">
                     <img src="/static/assets/img/svg/covid19.svg" alt="svg">
                  </div>
                  <p class="fz-16 fw-400 dtext lato">
                     Before booking your flight, please check the latest COVID-19 travel restrictions to world.
                     Please continuously check all COVID-19 related restrictions directly with airlines...
                  </p>
                  <a href="javascript:void(0)" class="cmn__btn">
                     <span>
                        See Restrictions
                     </span>
                  </a>
               </div>
               <div class="booking__landing__body">
                  <div class="dating__body">
                     <div class="dating__body__box dating__flight mb__30">
                        <div class="row justify-content-center g-3">
                           <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="dating__item dating__hidden">
                                 <input type="text" placeholder="First Name">
                              </div>
                           </div>
                           <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="dating__item dating__hidden">
                                 <input type="text" placeholder="Last Name">
                              </div>
                           </div>
                           <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="dating__item dating__hidden">
                                 <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                    <input class="form-control" type="text" placeholder="Depart Date" readonly>
                                    <span class="calendaricon">
                                       <i class="material-symbols-outlined">
                                          calendar_month
                                       </i>
                                    </span>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="dating__item select__border">
                                 <select name="room">
                                    <option value="1">
                                       Adult
                                    </option>
                                    <option value="2">
                                       1
                                    </option>
                                    <option value="3">
                                       2
                                    </option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="dating__item select__border">
                                 <select name="room">
                                    <option value="1">
                                       Child
                                    </option>
                                    <option value="2">
                                       1
                                    </option>
                                    <option value="3">
                                       2
                                    </option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="dating__item select__border">
                                 <select name="room">
                                    <option value="1">
                                       Gender Select
                                    </option>
                                    <option value="2">
                                       1 st
                                    </option>
                                    <option value="3">
                                       2 nd
                                    </option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="dating__item dating__hidden">
                                 <input type="email" placeholder="Email">
                              </div>
                           </div>
                           <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="dating__item dating__hidden">
                                 <input type="text" placeholder="Phone">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="input-esingl mt__30 input-check d-flex align-items-center gap-2 payment__save">
                  <input class="form-check-input" type="checkbox" id="saveForNextcard" checked>
                   <label for="saveForNextcard" class="dtext fz-18 fw-400 lato">I consent to receive marketing emails from Rechargio</label>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4">
            <div class="hotel__confirm__invocie">
               <h5 class="fw-600 gratext lato mb__20 text-center">
                  Invoice Details
               </h5>
               <div class="ticket__timeout mb__24">
                  <p class="fz-16 fw-400 mb__10 lato dtext">
                     Book now before tickets run out!
                  </p>
                  <div class="d-flex gap-3 align-items-center">
                     <div class="icon d-flex align-items-center justify-content-center">
                        <img src="/static/assets/img/svg/clocks.svg" alt="clock">
                     </div>
                     <div class="content">
                        <div class="d-flex align-items-center gap-2">
                           <span class="fz-24 lato fw-400 gratext">
                              29
                           </span>
                           <span class="fz-24 lato fw-400 gratext">
                              :
                           </span>
                           <span class="fz-24 lato fw-400 gratext">
                              01
                           </span>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                           <span class="fz-16 fw-400 dtext">
                              Min
                           </span>
                           <span class="fz-16 fw-400 dtext">
                              Sec
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="d-flex product__total pb__15 mb__15 align-items-center justify-content-between">
                  <span class="fz-18 fw-600 lato dtext d-block">
                     Product
                  </span>
                  <span class="fz-18 fw-600 lato dtext d-block">
                     Total
                  </span>
               </div>
               <ul class="price__cost price__costtwo mb__15">
                  <li class="d-flex align-items-center justify-content-between">
                     <span class="fz-18 fw-400 lato dtext">
                        Base Fare
                     </span>
                     <span class="fz-18 fw-400 lato dtext">
                        $442
                     </span>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                     <span class="fz-18 fw-400 lato dtext">
                        Travel Protection
                     </span>
                     <span class="fz-18 fw-400 lato dtext">
                        $0
                     </span>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                     <span class="fz-18 fw-400 lato dtext">
                        Tax
                     </span>
                     <span class="fz-18 fw-400 lato dtext">
                        $0
                     </span>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                     <span class="fz-18 fw-400 lato dtext">
                        Extra Service
                     </span>
                     <span class="fz-18 fw-400 lato dtext">
                        $15
                     </span>
                  </li>
                  <li class="d-flex pricelast__items align-items-center justify-content-between">
                     <span class="fz-18 fw-400 lato dtext">
                        Hot Deals
                     </span>
                     <span class="fz-18 fw-400 lato dtext">
                        -$0
                     </span>
                  </li>
               </ul>
               <form action="3" class="d-flex mb__30 align-items-center justify-content-between">
                  <input type="text" placeholder="Promo Code">
                  <button class="cmn__btn" type="submit">
                     <span>
                        Apply
                     </span>
                  </button>
               </form>
               <div class="d-flex mb__30 ttoal__cost pricelast__items align-items-center justify-content-between">
                  <span class="fz-18 fw-600 lato dtext">
                     Total
                  </span>
                  <span class="fz-18 fw-600 lato dtext">
                     $475
                  </span>
               </div>
               <div class="direct__transfer">
                  <div class="type__radio mb__10 d-flex align-items-center justify-content-between">
                     <div class="radio__left d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" id="proper1" checked>
                        <label class="form-check-label" for="proper1">
                           <span class="fz-16 lato fw-400 dtext">
                              Direct bank transfer
                           </span>
                        </label>
                     </div>
                  </div>
                  <div class="type__radio mb__10 d-flex align-items-center justify-content-between">
                     <div class="radio__left d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" id="proper2">
                        <label class="form-check-label" for="proper2">
                           <span class="fz-16 lato fw-400 dtext">
                              Check payments
                           </span>
                        </label>
                     </div>
                  </div>
                  <p class="textbg fz-16 fw-400">
                     Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                  </p>
                  <div class="type__radio mb__10 d-flex align-items-center justify-content-between">
                     <div class="radio__left d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" id="proper3">
                        <label class="form-check-label" for="proper3">
                           <span class="fz-16 lato fw-400 dtext">
                              PayPal
                           </span>
                        </label>
                     </div>
                  </div>
               </div>
               <div class="have__condition mt__30 mb__30">
                  <div class="radio__left d-flex align-items-center gap-2">
                     <input class="form-check-input" type="checkbox" id="proper5" checked>
                     <label class="form-check-label" for="proper5">
                        <span class="fz-16 lato fw-400 dtext">
                           I have read and agree to the website terms and conditions
                        </span>
                     </label>
                  </div>
               </div>
               <div class="payment text-center mb__30">
                  <a href="train-payment.html" class="cmn__btn">
                     <span>
                        Payment Now
                     </span>
                  </a>
               </div>
               <div class="payment__cards mb__20 d-flex align-items-center gap-2">
                  <a href="javacript:void(0)">
                     <img src="/static/assets/img/payment/paypals.png" alt="payment-card">
                  </a>
                  <a href="javacript:void(0)">
                     <img src="/static/assets/img/payment/visas.png" alt="payment-card">
                  </a>
                  <a href="javacript:void(0)">
                     <img src="/static/assets/img/payment/fastpay.png" alt="payment-card">
                  </a>
                  <a href="javacript:void(0)">
                     <img src="/static/assets/img/payment/payoneer.png" alt="payment-card">
                  </a>
                  <a href="javacript:void(0)" class="master">
                     <img src="/static/assets/img/payment/mastercard.png" alt="payment-card">
                  </a>
               </div>
               <div class="full__refund d-flex justify-content-center align-items-center gap-2">
                  <img src="/static/assets/img/svg/info-cancel.svg" alt="img">
                  Full refund, 3-day concellation
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- hotel list End -->

<!-- Footer Here -->
<footer class="footer__section bgsection pt-120">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__top pb-120">
            <div class="row gy-5 gx-5">
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <a href="index.html" class="footer__logo">
                           <img src="/static/assets/img/logo/logo.png" alt="logo">
                        </a>
                     </div>
                     <p class="pratext mb__20 fz-18">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...
                     </p>
                     <ul class="social d-flex gap-3">
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/facebook.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/instagram.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/twitter.svg" alt="svg">
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" class="social__icon">
                              <img src="/static/assets/img/svg/ball.svg" alt="svg">
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.5s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Quick Links
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="index.html" class="link fz-18 pratext">
                           Home
                        </a>
                        <a href="about.html" class="link fz-18 pratext">
                           About
                        </a>
                        <a href="index.html" class="link fz-18 pratext">
                          Rechage & Bill Payment
                        </a>
                        <a href="booking-landing1.html" class="link fz-18 pratext">
                           Booking
                        </a>
                        <a href="contact.html" class="link fz-18 pratext">
                           Contact
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.7s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Address
                        </h4>
                     </div>
                     <div class="widget__link">
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                          <span class="d-block">
                           (480) 555-0103
                          </span>
                          <span>
                           (406) 555-0120
                          </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           <span class="d-block">
                              <span class="__cf_email__" data-cfemail="99fdfcf8f7f7f8b7faecebedf0ead9fce1f8f4e9f5fcb7faf6f4">[email&#160;protected]</span>
                           </span>
                           <span>
                              <span class="__cf_email__" data-cfemail="1377767161723d7b7c7f6753766b727e637f763d707c7e">[email&#160;protected]</span>
                           </span>
                        </a>
                        <a href="javascript:void(0)" class="link fz-18 pratext">
                           285 Great North Road, Grey Lynn, Auckland 1021
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="1.9s">
                  <div class="footer__widget">
                     <div class="widget__head mb__20">
                        <h4 class="fz-24 pratext">
                           Newsletter
                        </h4>
                     </div>
                     <div class="widget__link">
                        <p class="fz-18 pratext mb__30">
                           Subscribe our newsletter to get our latest update & news
                        </p>
                       <form action="javacript:void(0)" class="d-flex justify-content-between">
                           <input type="email" placeholder="Your mail address">
                           <button type="submit" class="cmn__btn">
                             <span>
                                 <i class="material-symbols-outlined">
                                    rocket_launch
                                 </i>
                             </span>
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer__bottom d-flex">
            <p class="fz-18 pratext">
               Copyright &copy;2023 <a href="index.html" class="base">Rechargio.</a> All Rights Reserved
            </p>
            <ul class="footer__bottom__link">
               <li>
                  <a href="help-support.html">
                     Support
                  </a>
               </li>
               <li>
                  <a href="help-support.html">
                     Terms of Use
                  </a>
               </li>
               <li>
                  <a href="help.html">
                     Privacy Policy
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<!-- Footer End -->



   <!--Jquery 3 6 0 Min Js-->
   <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/assets/js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="/static/assets/js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="/static/assets/js/odometer.min.js"></script>
   <!--date picker Js-->
   <script src="/static/assets/js/bootstrap-datepicker.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
   <!--nice select Js-->
   <script src="/static/assets/js/jquery.nice-select.min.js"></script>
   <!--Wow min Js-->
   <script src="/static/assets/js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="/static/assets/js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="/static/assets/js/prism.js"></script>
   <!--main Js-->
   <script src="/static/assets/js/main.js"></script>
</body>

</html>